<html>
    <head>

        <link rel="stylesheet" href="./css/bootstrap.min.css">
        <script src="./js/jquery-3.1.1.min.js"></script>
        <script src="./js/bootstrap.min.js"></script>

        <link rel="icon" href="/img/favicon.PNG" type="image/x-icon"/>

        <title>Sistema de Solicitudes de Salidas</title>

        <style>
        body {
            padding-top: 15px;
        }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="text-center">
                <!--Banner de la UABC-->
                <div class="row">
                    <div class="hidden-xs hidden-sm col-md-2 col-lg-2">
                        <img src="/img/UABC.PNG" height="110">
                    </div>
                    <div class="col-sm-8 col-md-8 col-lg-8">
                        <h1 style="color:#017141">Sistema de Solicitud de Salidas</h1>                      
                        <h3 style="color:#017141">Facultad de Ingeniería Arquitectura y Diseño</h3>
                    </div>
                    <div class="hidden-xs hidden-sm col-md-2 col-lg-2">
                        <img src="/img/FIAD.png" height="110">
                    </div>
                </div>              
                <hr>
            </div>

            <div class="row">
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <h3>Menu</h3>
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Cabrera Ortega Jesus Efren
                    <br>
                    <button id="myButton" type="button" class="btn btn-link"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> Ver Notificaciones <span class="badge">2</span></button>
                    <br>
                    <button id="myButton" type="button" class="btn btn-link"><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> Solicitudes relizadas</button>
                    <br>
                    <button id="myButton" type="button" class="btn btn-link"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Generar nueva solicitud</button>
                    <br>
                    <button id="myButton" type="button" class="btn btn-link"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> Historial de solicitudes</button>
                    <br>
                    <button id="AgregarUsurio" type="button" class="btn btn-link"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Administrar usuarios académicos</button>
                    <br>
                    <button id="myButton" type="button" class="btn btn-link"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> Ayuda</button>
                    <br>
                    <button id="CerrarSesion" type="button" class="btn btn-link"><span class="glyphicon glyphicon-off" aria-hidden="true"></span> Cerrar Sesión</button>
                </div>
                <div class="col-md-offset-1 col-lg-offset-1 col-sm-6 col-md-6 col-lg-6">
                    <ul class="nav nav-tabs">
                      <li role="presentation"><a href="#">Agregar</a></li>
                      <li role="presentation" ><a href="#">Listar</a></li>
                      <li role="presentation"><a href="#">Editar</a></li>
                      <li role="presentation" class="active"><a href="#">Borrar</a></li>
                    </ul>
                    <h3>Editar Usuarios</h3>
                    <div class="list-group">
                      <a href="#" class="list-group-item active">
                        efren.cabrera@uabc.edu.mx
                      </a>
                      <a href="#" class="list-group-item">a338694@uabc.edu.mx</a>
                      <a href="#" class="list-group-item">liliana.solorio@uabc.edu.mx</a>
                    </div>

                    <form>
                        <div class="form-group">
                            <label for="correo">Usuario seleccionado</label>
                            <input  class="form-control" id="correo"  value="efren.cabrera@uabc.edu.mx" disabled>                            
                        </div>                            
                            <button class="btn btn-primary pull-right">Borrar</button>             
                    </form>
                </div>
            </div>

        </div>
        <footer class="container-fluid text-center">
            <p>Universidad Autómoa de Baja California 2017. Diseñado por ©Leyvus.</p>
        </footer>
    </body>
    <script type="text/javascript">
        document.getElementById("AgregarUsurio").onclick = function () {
            location.href = "/usuario.html";
        };
        document.getElementById("CerrarSesion").onclick = function () {
            location.href = "/inicio.html";
        };
    </script>
</html>